
@model IEnumerable<QLPHUKIEN.Models.PHUKIEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayouUser.cshtml";
}


<div class="row">
    @foreach (var phukien in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">



                <a href="@Url.Action("Detail","PHUKIEN", new { id = phukien.MaPK})">
                    <img alt="@phukien.TenPK" src="~/images/@phukien.Anhbia" width="200" />

                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @phukien.TenPK
                        </h4>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

     






    }
    </div>

